@import "colores";
@import "medidas";
footer {
    background-image: $bgcolorfooter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    .logoRedesAbajo img {
        width: 2rem;
        margin-left: $medida-media/4;
        margin-right: $medida-media/4;
        &:hover {
            transform: scale(1.2, 1.2);
        }
    }
}

#baseStore {
    position: relative;
    text-align: center;
    &:hover {
        transform: scale(1.3, 1.3);
        cursor: pointer;
        color: rgb(158, 235, 114);
    }
}

div {
    margin: $medida-media;
    ul {
        list-style: none;
    }
}